<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert = "~{admin/template_admin::head-admin}">

    </head>
    <body>
        <div th:insert = "~{admin/template_admin::header-admin}"></div>
        <div class="container">
            <header class="jumbotron my-4">
                <h1 class="display-3 text-center">Welcome to shop </h1> 
            </header>

            <div class="row text-center">
                <div class="col-lg-3 col-md-6 mb-4" th:each="product: ${products}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{images/{img} (img = ${product.image})}" alt="PREMIUM"/>
                        <div class="card-body">
                            <p class="card-text"th:text="${product.name}"> Nombre del producto</p>  
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-danger">Ver Producto</a>     
                        </div>
                    </div> 
                </div>
            </div>


        </div>

        <div class="footer" th:insert = "~{admin/template_admin::footer-admin}"></div>
    </body>
    <style>
        .body{
            position: relative;
        }
        .footer{
            position: absolute;
            bottom:0px;
            height: 60px;
            width: 100%;
        }
    </style>
</html>