<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head_admin">
        <title>Ecommerce Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    </head>
    <body class="body">
        <div th:fragment="header_admin">
            <nav class="navbar navbar-expand-xxl bg-dark ">
                <div class="container-fluid">
                    <a class="navbar-brand text-white mb-0 h1" th:href="@{/admin}">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle text-white mb-0 h1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opciones
          </a>
          <ul class="dropdown-menu"> 
            <li><a class="dropdown-item" th:href="@{/dashboard}">Cerrar Sesion</a></li>
            <li><a class="dropdown-item" th:href="@{/admin/dashboard}">Dashboard</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
                </div>
            </nav>
        </div>
    </body>
    <div th:fragment="footer_admin">
        <footer class="footer bg-dark">
            <p class="text-center text-white">Copyright &copy; Alejandrompr 2023</p>
            <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        </footer>
    </div>
    <style>
        .body{
            position: relative;
        }
        .footer{
            position: absolute;
            bottom:0px;
            height: 60px;
            width: 100%;
        }
    </style>


</html>