<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AU Natural Cosmetics</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head th:insert = "~{admin/template_admin::head_admin}">
    </head>
    <body class="bg-dark-subtle ">
        <div th:insert = "~{admin/template_admin::header_admin}"></div>
        <div class="container bg-dark-subtle"><br>
            <h1 class="mt-4 mb-3 text-center">
                <small class="text-center">Usuarios</small>
            </h1>

            <h2></h2>
            <table class="table table-bordered table-responsive mt-3">
                <thead>
                    <tr>
                        <th class="bg-dark-subtle"scope="col">Nombre</th>
                        <th class="bg-dark-subtle"scope="col">Apellidos</th>
                        <th class="bg-dark-subtle"scope="col">Email</th>
                        <th class="bg-dark-subtle"scope="col">Celular</th>
                        <th class="bg-dark-subtle"scope="col">Tipo</th>
                        <th class="bg-dark-subtle"scope="col">Editar</th>
                        <th class="bg-dark-subtle"scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario:${usuarios}">
                        <td class="bg-dark-subtle"  th:text="${usuario.firtName}"></td>
                        <td class="bg-dark-subtle" th:text="${usuario.lastName}"></td>
                        <td class="bg-dark-subtle"  th:text="${usuario.email}"></td>
                        <td class="bg-dark-subtle"  th:text="${usuario.cellphone}"></td>
                        <td class="bg-dark-subtle" th:text="${usuario.userType}"></td>
                        <td class="bg-dark-subtle"> <a class="btn btn-warning" th:href="@{/admin/edit/{id} (id = ${usuario.id}) }">Editar</a></td>
                        <td class="bg-dark-subtle"> <a class="btn btn-danger" th:onclick="eliminar([[${usuario.id}]])">Eliminar</a></td>
                    </tr>       
                </tbody>
            </table>

        </div>

        <div class="footer" th:insert = "~{admin/template_admin::footer_admin}"></div>

    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/metodo.js"></script>
    <style>
        .body{
            position: relative;
        }
        .footer{
            position: absolute;
            bottom:0px;
            height: 60px;
            width: 100%;
        }
    </style>

</html>
